<style>
    img {
        width: 33%;
    }

    h1 {
        text-align: center;
    }

    div {
        margin-top: 5%;
    }

</style>

<h1>Heya, whassup mate?</h1>

<div>
    <img src="11650548_414558445394553_1993228974_n.jpg">
    <img src="43574628_2167773506806799_1237229273085902848_n.jpg">
    <img src="11650910_414558442061220_922779207_n.jpg">
</div>