
<% include partials/header %>

<div class="container text-center">
    <img src="<%=campground.imageUrl%>">
    <h1><%=campground.name%></h1>
    <p><%=campground.description%></p>
</div>

<% include partials/footer %>