<% include ../partials/header %>

<div class="container" style="width: 30%">
    <h1 class="text-center" style="margin-bottom: 25px">Edit Your Comment on <%=campground.name%> </h1>
    <form method="POST" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=PUT">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Commentary" name="text" value="<%=comment.text%>">
        </div>
    
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>

<% include ../partials/footer %>