<h2>Your favorite food is <%= favoriteFood %> </h2>

<% if (favoriteFood.toLowerCase() === "pizza") { %>
    <h1>WOW!!! Your favorite food is <%= favoriteFood %>!!!</h1>
    <h1>YOU'RE AMAZING!!!!</h1>
<% } %>
